{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

{% endblock title%}

{% block jumbotron %}
	<img class="img-responsive" src="{% static 'san_francisco.jpg' %}" alt="" width=100%/>
	<div class="jumbotron">

	  <div class="container">
	    <h1>Pipers is Waze for Events</h1>
	    <p>Piper makes it easy to dodge heavy event traffic through crowdsource
	    heatmap generation.</p>
	    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
	  </div>
	</div>
{% endblock jumbotron %}

{% block content %}
	<h1>Simply Amazing</h1>
	<div class="row">
        <div class="col-md-4">
          <h2>Real-Time</h2>
          <p>Heatmaps of event circles generate in real-time.
          Know the when and know the where.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Geofences</h2>
          <p>Geofences triggers heatmaps creation upon entering the zone.
          We make it simple to get this process going.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Flexible</h2>
          <p>Piper works with both public and private events.
          Know how good the party is with Piper heatmapping system.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
{% endblock content %}